.space-background {
	height: 100%;
	width: 100%;
    background: url(images/space.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}