// Fonts
@font-face {
    font-family: "Prisma";
    src: url("fonts/Prisma.otf") format("opentype");
    src: url("fonts/Prisma.ttf") format("truetype");
}

// Colors
$dark-green: #001F1B;
$white: #fff;
